{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block%}
    About Rango    
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        here is the about page.<br />
        Visits: {{ visits }}
        <strong>This tutorial has been put together by {{ authorName }}.</strong><br />
    </div>
    <div>
        <img src ="{settings.STATIC_URL}images/rango.jpg" alt="Picture of Rango" />
        <img src = "{{MEDIA_URL}}cat.jpg" alt = "Picture of a Cat." />
    </div>
{% endblock %}